<!DOCTYPE html>
{% extends 'uni/base.html' %}
{% load staticfiles %}
{% block body_block %}
<div id="home" class="parallax parallax1" >
  <div   class="paratext">
    <div>
    <span>ARCHITECTURAL VISUALISATION<br>AND<br>DESIGNING<br><i class="fa fa-angle-down"></i></span>
  </div></div>
</div>
<div id="services" style="height:95px;">

</div>
<div class="divider">SERVICES</div>
<hr style="height:10px;background-color:rgb(237,205,31);width:100px;">
<div class="container" style="width:70%;margin-top:50px;">
  <div class="row" >
    <div class="col-sm-4" >
      <div class="card"  style="width: 18rem;height:100%;background-color:rgb(247,247,247);border:none;">
        <!--<img class="card-img-top" src="{% static 'images/card1.jpg' %}" alt="Card image cap">-->
        <video style="width:100%;" class="full_img round" autoplay loop>
        <source src="{% static 'video/video7.mp4' %}" type="video/mp4">
          Your browser does not support HTML5 video.
        </video>
        <div class="card-body">
          <h5 class="card-title" style="color:rgb(61,89,117);font-size:23px">House planning<br>and rendering</h5>
          <p class="card-text">Full house planning with interior and exterior views .</p>

        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card" style="width: 18rem;height:100%;background-color:rgb(247,247,247);border:none;">
        <!--<img class="card-img-top" src="{% static 'images/card2.webp' %}" alt="Card image cap">-->
        <video style="width:100%;" class="full_img round" autoplay loop>
        <source src="{% static 'video/video2.mp4' %}" type="video/mp4">
          Your browser does not support HTML5 video.
        </video>
        <div class="card-body">
          <h5 class="card-title" style="color:rgb(61,89,117);font-size:23px"> <br>Architectural<br>virtual reality</h5>
          <p class="card-text">Interior and exterior images renderings with virtual reality support</p>

        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card" style="width: 18rem;height:100%;background-color:rgb(247,247,247);border:none;">
        <!--<img class="card-img-top" src="{% static 'images/card3.webp' %}" alt="Card image cap">-->
        <video style="width:100%;" class="full_img round" autoplay loop>
        <source src="{% static 'video/123.mp4' %}" type="video/mp4">
          Your browser does not support HTML5 video.
        </video>
        <div class="card-body">
          <h5 class="card-title" style="color:rgb(61,89,117);font-size:23px">Animation of<br>architectural work</h5>
          <p class="card-text">3ds renders with animation for more realistic approach for visualisation.</p>

        </div>
      </div>
    </div>
  </div>
</div>
<div id="abt" style="height:95px;">

</div>
<div class="about" style="height:650px;">
  <div class="row">
    <!--<div class="col-lg-6" style="height:650px;background-color:rgb(247,247,247);">
      <div id="abt" class="divider" style="margin-top:50px;">ABOUT</div>
      <hr style="height:10px;background-color:rgb(237,205,31);width:100px;">
      <p style="padding-left:35%;padding-right:10%;font-size:17px;">I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. Feel free to drag and drop me anywhere you like on your page. I’m a great place for you to tell a story and let your users know a little more about you.​This is a great space to write long text about your company and your services. You can use this space to go into a little more detail about your company. Talk about your team and what services you provide. Tell your visitors the story of how you came up with the idea for your business and what makes you different from your competitors. Make your company stand out and show your visitors who you are.</p>
    </div>-->
    <div class="col-lg-12" style="height:650px;">
      <div  class="parallax parallax2" style="height:100%;" ></div>
    </div>  </div>
</div>

<div id="projects" style="height:95px;">

</div>
<div class="divider">PROJECTS</div>
<hr style="height:10px;background-color:rgb(237,205,31);width:100px;">
<div style="width:95%;margin-left:auto;margin-right:auto;">

  <div style="width:100%;" class="full_img">
    <img style="width:100%;" class="round" src="{% static 'images/28.png' %}" alt="">
  </div>
  <video style="width:100%;" class="full_img round" controls loop>
  <source src="{% static 'video/123.mp4' %}" type="video/mp4">
    Your browser does not support HTML5 video.
  </video>

  <div style="width:100%;" class="full_img">
    <img style="width:100%;" class="round" src="{% static 'images/27.jpg' %}" alt="">
  </div>
  <div style="width:100%;" class="full_img">
    <img style="width:100%;" class="round" src="{% static 'images/29.png' %}" alt="">
  </div>
 <video style="width:100%;" class="full_img round" controls loop>
  <source src="{% static 'video/video2.mp4' %}" type="video/mp4">
    Your browser does not support HTML5 video.
  </video>
<div style="width:100%;" class="full_img">
  <img style="width:100%;" class="round" src="{% static 'images/1.jpg' %}" alt="">
</div>
<div style="width:100%;" class="full_img">
  <img style="width:100%;" class="round" src="{% static 'images/25.jpg' %}" alt="">
</div>
<div style="width:100%;" class="full_img">
  <img style="width:100%;" class="round" src="{% static 'images/26.png' %}" alt="">
</div>
<div style="width:100%;" class="full_img">
  <img style="width:100%;" class="round" src="{% static 'images/3.jpg' %}" alt="">
</div>
<div style="width:100%;" class="full_img">
  <img style="width:100%;" class="round" src="{% static 'images/4.png' %}" alt="">
</div>
<div style="width:100%;" class="full_img">
  <img style="width:100%;" class="round" src="{% static 'images/5.jpg' %}" alt="">
</div>
<video style="width:100%;" class="full_img round" controls loop>
  <source src="{% static 'video/video6.mp4' %}" type="video/mp4">
    Your browser does not support HTML5 video.
  </video>
<div style="width:100%;" class="full_img">
  <img style="width:100%;" class="round" src="{% static 'images/6.jpg' %}" alt="">
</div>
<div style="width:100%;" class="full_img">
  <img style="width:100%;" class="round" src="{% static 'images/7.jpg' %}" alt="">
</div>
<div style="width:100%;" class="full_img">
  <img style="width:100%;" class="round" src="{% static 'images/8.png' %}" alt="">
</div>
<div style="width:100%;" class="full_img">
  <img style="width:100%;" class="round" src="{% static 'images/9.jpg' %}" alt="">
</div>
<div style="width:100%;" class="full_img">
  <img style="width:100%;" class="round" src="{% static 'images/10.jpg' %}" alt="">
</div>
<div style="width:100%;" class="full_img">
  <img style="width:100%;" class="round" src="{% static 'images/11.jpg' %}" alt="">
</div>
<div style="width:100%;" class="full_img">
  <img style="width:100%;" class="round" src="{% static 'images/12.png' %}" alt="">
</div>
<div style="width:100%;" class="full_img">
  <img style="width:100%;" class="round" src="{% static 'images/13.png' %}" alt="">
</div>
<div style="width:100%;" class="full_img">
  <img style="width:100%;" class="round" src="{% static 'images/14mast.jpg' %}" alt="">
</div>
<div style="width:100%;" class="full_img">
  <img style="width:100%;" class="round" src="{% static 'images/15.jpg' %}" alt="">
</div>
 <video style="width:100%;" class="full_img round" controls loop>
  <source src="{% static 'video/video3.mp4' %}" type="video/mp4">
    Your browser does not support HTML5 video.
  </video>
<div style="width:100%;" class="full_img">
  <img style="width:100%;" class="round" src="{% static 'images/16.jpg' %}" alt="">
</div>
<div style="width:100%;" class="full_img">
  <img style="width:100%;" class="round" src="{% static 'images/17.jpg' %}" alt="">
</div>
<div style="width:100%;" class="full_img">
  <img style="width:100%;" class="round" src="{% static 'images/18.png' %}" alt="">
</div>
<div style="width:100%;" class="full_img">
  <img style="width:100%;" class="round" src="{% static 'images/19.png' %}" alt="">
</div>
<div style="width:100%;" class="full_img">
  <img style="width:100%;" class="round" src="{% static 'images/20.png' %}" alt="">
</div>
<div style="width:100%;" class="full_img">
  <img style="width:100%;" class="round" src="{% static 'images/21.png' %}" alt="">
</div>
<div style="width:100%;" class="full_img">
  <img style="width:100%;" class="round" src="{% static 'images/22.png' %}" alt="">
</div>
<div style="width:100%;" class="full_img">
  <img style="width:100%;" class="round" src="{% static 'images/29.png' %}" alt="">
</div>
<div style="width:100%;" class="full_img">
  <img style="width:100%;" class="round" src="{% static 'images/30.png' %}" alt="">
</div>
<div style="width:100%;" class="full_img">
  <img style="width:100%;" class="round" src="{% static 'images/31.png' %}" alt="">
</div>
<video style="width:100%;" class="full_img round" controls loop>
 <source src="{% static 'video/video4.mp4' %}" type="video/mp4">
   Your browser does not support HTML5 video.
 </video>

<div style="width:100%;" class="full_img">
  <img style="width:100%;" class="round" src="{% static 'images/32.png' %}" alt="">
</div>
<div style="width:100%;" class="full_img">
  <img style="width:100%;" class="round" src="{% static 'images/33.png' %}" alt="">
</div>
<div style="width:100%;" class="full_img">
  <img style="width:100%;" class="round" src="{% static 'images/34.jpg' %}" alt="">
</div>
<div style="width:100%;" class="full_img">
  <img style="width:100%;" class="round" src="{% static 'images/35.jpg' %}" alt="">
</div>
<div style="width:100%;" class="full_img">
  <img style="width:100%;" class="round" src="{% static 'images/36.jpg' %}" alt="">
</div>
<video style="width:100%;" class="full_img round" controls loop>
 <source src="{% static 'video/video5.mp4' %}" type="video/mp4">
   Your browser does not support HTML5 video.
 </video>
<div style="width:100%;" class="full_img">
  <img style="width:100%;" class="round" src="{% static 'images/37.png' %}" alt="">
</div>
<div style="width:100%;" class="full_img">
  <img style="width:100%;" class="round" src="{% static 'images/38.png' %}" alt="">
</div>
<div style="width:100%;" class="full_img">
  <img style="width:100%;" class="round" src="{% static 'images/39.png' %}" alt="">
</div>
<div style="width:100%;" class="full_img">
  <img style="width:100%;" class="round" src="{% static 'images/40.png' %}" alt="">
</div>
<div style="width:100%;" class="full_img">
  <img style="width:100%;" class="round" src="{% static 'images/41.png' %}" alt="">
</div>
<div style="width:100%;" class="full_img">
  <img style="width:100%;" class="round" src="{% static 'images/42.png' %}" alt="">
</div>
<div style="width:100%;" class="full_img">
  <img style="width:100%;" class="round" src="{% static 'images/43.png' %}" alt="">
</div>
<div style="width:100%;" class="full_img">
  <img style="width:100%;" class="round" src="{% static 'images/44.png' %}" alt="">
</div>
<div style="width:100%;" class="full_img">
  <img style="width:100%;" class="round" src="{% static 'images/45.png' %}" alt="">
</div>
<div style="width:100%;" class="full_img">
  <img style="width:100%;" class="round" src="{% static 'images/46.png' %}" alt="">
</div>
<div style="width:100%;" class="full_img">
  <img style="width:100%;" class="round" src="{% static 'images/24.png' %}" alt="">
</div>


</div>



<div id="" style="height:95px;">

</div>
<div class="strippc">
  <div class="strip">
    <div  class="parallax parallax3" style="height:100%;" ></div>
  </div>
  <div id="clientd" style="height:95px;">
  </div>
  <div class="divider">CATALOGUE</div>
  <p class="seperator">BEDROOM DESIGNS</p>
  </div>
  <p style="font-size:20px;">Coming soon...</p>
  <!--<div class="row cli" >
    <div class="col-sm" style="height:125px;">
      <img src="{% static 'images/c1.png' %}" class="imgc" alt="Client 1">
    </div>
    <div class="col-sm" style="height:125px;">
      <img src="{% static 'images/c3.png' %}" class="imgc" alt="Client 1">
    </div>
    <div class="col-sm" style="height:125px;">
      <img src="{% static 'images/c2.png' %}" class="imgc" alt="Client 1">
    </div>
    <div class="col-sm" style="height:125px;">
      <img src="{% static 'images/c4.png' %}" class="imgc" alt="Client 1">
    </div>
    <div class="col-sm" style="height:125px;">
      <img src="{% static 'images/c5.png' %}" class="imgc" alt="Client 1">
    </div>
  </div>--><div style="padding-left:10px;padding-right:10px;width:100%;">
  <div id="contact" style="height:95px;">
</div>
<div id="" class="divider">CONTACT</div>
<hr style="height:10px;background-color:rgb(237,205,31);width:100px;margin-bottom:50px;">
<div class="container" style="width:70%;">

  <div class="row" style="margin-top:50px;">
    <div class="col" style="padding-right:10%;">
      <h2 style="font-family:customfab; font-weight:bold;font-size:35px;">Inquiries</h2>
      <p style="font-family:customfab; font-weight:bold;font-size:20px;">SARTHAK GUPTA<br>Contact: 7985396191<br>Email: sunny004gupta@gmail.com</p><br>
  </div>
</div>

<div class="container foot" style="width:70%;">
 <p>© Designed and developed by vishwaraj_wd</p>
</div>


{% endblock %}
